@font-face {
    font-family: 'Blank Blizzkrieg';
    src: url('/@vitruvian-tech/machete-bundle/fonts/BlankBlizzkrieg/BlankBlizzkrieg-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
