@font-face {
    font-family: 'Blank Blizzkrieg';
    src: url('/@fox-zero/web/fonts/BlankBlizzkrieg/BlankBlizzkrieg.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
