@import "../../../themes/default/variables.scss";

.slide {
  margin-top: -1.25em;
  position: relative;
  height: $page-height;

  > div:first-child {
    margin-top: .75em;
  }

  > div {
    position: static !important;
  }

  .hero {
    content: '';
    background: $background-color no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    opacity: .2;
    z-index: 1;
  }

  h1 {
    margin-top: 0;
  }

  h1, h2 {
    text-shadow: 1px 2px $black-color;
    z-index: 1;
    position: relative;
  }

  .meta {
    position: absolute;
    bottom: 2em;
    width: 100%;

    span {
      background: $primary-green-color;
      display: inline-block;
      padding: 0 10px;
      font-family: $font-family-oswald;
      text-transform: uppercase;
      position: relative;
      z-index: 2;
      color: $black-color;
      font-size: 1.5em;
      margin: .125em 0;
    }
  }

  .title {
    margin: -5vh auto 0;
    padding: 0 20px;
    max-width: 640px;

    h1 {
      color: #fff;
      -webkit-text-fill-color: #fff;
      -webkit-text-stroke-color: $secondary-blue-color;
      font-size: 3.25em;
      -webkit-text-stroke-width: 1px;
      line-height: .95;
    }

    h2 {
      font-size: 2em;
      margin: .5em auto;
      color: $gray;
      line-height: 1em;
      max-width: 320px;

      @media only screen and (min-width: 400px) {
        max-width: 480px;
      }
    }
  }
}
