@import "../../../themes/default/variables.scss";

.slide {
  .corporate {
    margin-top: -7em!important;
    margin-left: auto!important;
    font-size: 1em!important;
  }

  .logo {
    margin: 0 auto 2em;
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    text-align: center;

    img {
      max-width: 11em;

      @media (min-width: 768px) {
        max-width: 10em;
      }

      @media (min-width: 1400px) {
        max-width: 13em;
      }
    }
  }

  .content {
    &.virtues {
      margin-top: 25vh;

      @media (min-width: 768px) {
        margin-top: 20vh;
      }
    }

    &.virtues {
      i {
        width: 2em;
        display: inline-block;
        text-align: center;
        //color: $secondary-green-color;
        color: #fff;
      }
    }

    &.pricing, &.services, &.portfolio {
      .price, .service, .project {
        color: #fff;
        font-size: .9em;
      }

      .price:before,
      .service:before,
      .project:before {
        content: '/ ';
      }

      .price {
        strong {
          font-size: 1.1em;
          font-weight: normal;
          color: #fff;
          opacity: .9;
        }

        &.low:before {
          content: '/ As low as ';
          color: #fff;
        }

        &.starting:before {
          content: '/ Starting at ';
          color: #fff;
        }
      }
    }

    &.products strong {
      font-weight: bold;
    }

    &.pricing {
      .asterisk {
        line-height: 1em;
        font-size: .9em;
        padding:  .125em .5em;
        color: #e0e0e0 !important;
        opacity: .9;

        &:before {
          content: '';
          font-size: .75em;
        }
      }

      i {
        font-style: normal;
        
        i {
          font-style: italic;
        }
      }
    }

    &.team,
    &.partners {
      small {
        color: #e0e0e0;
      }

      span {
        margin-right: 4px;
      }

      a {
        color: #fff;
        margin: 0 4px;
        float: right;
        opacity: .65;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
