@import "../../../themes/default/variables.scss";

.slide {
  position: relative;

  &:before {
    content: '';
    background: $background-color url('./images/background.jpg') no-repeat;
    background-position: 100%;
    background-size: cover;
    position: absolute;
    width: 100%;
    height:100%;
    top: -2px;
    left: 0;
    opacity: .5;
  }

  .logo {
    margin: 0 auto 2.25em;
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    text-align: center;

    img {
      max-width: 15em;

      @media (min-width: 768px) {
        max-width: 14em;
      }
    }
  }

  .content {
    &.virtues {
      margin-top: 25vh;
    }

    &.pricing {
      margin-top: -1em;
    }

    &.virtues {
      i {
        width: 2em;
        display: inline-block;
        text-align: center;
        //color: $secondary-green-color;
        color: $gray;
      }
    }

    &.pricing, &.services, &.portfolio {
      .price, .service, .project {
        color: $humility;
        font-size: .9em;
      }

      .price:before,
      .service:before,
      .project:before {
        content: '/ ';
      }

      .price {
        strong {
          font-size: 1.1em;
          font-weight: normal;
          color: $secondary-green-color;
          opacity: .9;
        }

        &.low:before {
          content: '/ As low as ';
          color: $secondary-green-color;
        }

        &.starting:before {
          content: '/ Starting at ';
          color: $secondary-green-color;
        }
      }
    }

    &.products strong {
      font-weight: bold;
    }

    &.pricing {
      .asterisk {
        line-height: 1em;
        font-size: .9em;
        padding:  .125em .5em;
        color: $humility !important;
        opacity: .9;

        &:before {
          content: '';
          font-size: .75em;
        }
      }

      i {
        font-style: normal;
      }
    }

    &.team,
    &.partners {
      small {
        color: $humility;
      }

      span {
        margin-right: 4px;
      }

      a {
        color: $secondary-green-color;
        margin: 0 4px;
        float: right;
        opacity: .65;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
