@import "../../../themes/default/variables.scss";

.slide {
  background: $background-color url('/assets/images/logo.svg') no-repeat;
  background-position: -150px 115px;
  background-size: 180%;

  @media screen and (orientation: landscape) {
    background-position: -90px 110px;
    background-size: 125%;
  }

  @media (min-width: 768px) {
    background-position: -155px 140px;
    background-size: 140%;
  }

  @media (min-width: 1024px) {
    background-position: -145px 170px;
    background-size: 130%;
  }

  @media (min-width: 1200px) {
    background-position: -193px 149px;
    background-size: 140%;
  }

  .map {
    position: relative;
    z-index: 2;
    width: 150%;
  }

  .content {
    &.links {
      ul {
        padding: 0;
      }

      a {
        color: $primary-green-color !important;
        opacity: .9;
        font-size: .9em;
        padding: 4px 8px;
        background: $background-color;
        border-radius: 3px;
        display: inline-block;
        width: 96%;
        margin: 0 2px;

        i {
          color: $secondary-green-color;
        }

        &:hover {
          opacity: 1;
          text-decoration: none;
        }

        &.phone i {
          margin: 0;

          &:after {
            color: $primary-green-color;
            content: '+1';
            font-size: .85em;
            margin-left: 8px;
          }
        }
      }
    }

    &.location {
      .caption {
        padding: 5px;
        background: $background-color;
        line-height: 1em;

        & + .caption {
          padding-top: 0;
        }

        &:last-child {
          border-radius: 3px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        a {
          color: $primary-green-color;
        }

        .code {
          font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
          font-size: .65em;

          &:before {
            content: '> ';
          }

          &:after {
            content: ':';
          }
        }

        small {
          float: right;
        }
      }
    }

    i {
      margin-right: 4px;
      color: $gray;
    }
  }
}
