::selection {
    background: $primary-green-color;
    color: $white-color;
}

::-moz-selection {
    background: $primary-green-color;
    color: $white-color;
}

body {
    @media (min-width: 4000px) {
      font-size: 1.5em;
    }
}

#app {
    overflow: hidden;

    &.scroll-lock {
        pointer-events: none;

        .section.container  {
            pointer-events: auto;
        }
    }
}

.grecaptcha-badge { display: none; }