.solution.button {
  box-shadow: 1px 1px 2px #000;
  display: table;
  line-height: 1.5em;
  opacity: .85;
  background: $black-color;
  color: $white-color;

  @media only screen and (min-width: 769px) {
    transition: all .25s;
  }

  &:hover {
    opacity: 1 !important;
    background: $secondary-green-color;
    color: $black-color;
  }

  i, button {
    display: table-cell;
    vertical-align: middle;
  }

  button {
    background: none;
    outline: none;
    border: none;
    text-align: left;
    padding: .5em 1em;
    width: 100%;
  }

  i {
    color: $black-color;
    background: $primary-green-color;
    font-size: 1.5em;
    padding: .5em;
    width: 1.5em;
    box-shadow: 0 0 10px $background-color;
    border-right: solid 1px $black-color;
  }
}
