@import "./nav.scss";
@import "./header.scss";
@import "./page.scss";
@import "./section.scss";
@import "./footer.scss";
@import "./form.scss";
@import "./modal.scss";
@import "./button.scss";
@import "./logo.scss";

::selection {
    background: $primary-green-color;
    color: $white-color;
}

::-moz-selection {
    background: $primary-green-color;
    color: $white-color;
}

body {
    overflow: hidden;
}

#app {
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
}