footer {
  @extend .well;

  font-size: 1.25em !important;
  color: #f8f8f8;
  margin: 0 auto;
  text-align: left;
  padding: 0;
  background: #efefef;
  border-radius: 0;
  border: none;
  position: relative;
  z-index: 1;
  box-shadow: 0 -1px 10px rgba(41, 41, 41,.5);
  text-shadow: -1px 1px 1px $black-color;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .65;
    background: $black-color;
    z-index: 2;
  }

  a {
    opacity: .75;
    transition: opacity .35s;
    color: #f8f8f8;

    &:active,
    &:hover,
    &:focus {
      color: #f8f8f8;
      opacity: 1;
      text-decoration: none;
    }
  }

  i {
    font-style: normal;
    padding-right: .25em;
  }

  h4 {
    font-size: 1.5em;
    font-family: 'Oswald', $font-family-brand;
  }

  a, p {
    font-size: .85em;
    padding: .25em 0;
    margin: 0;
  }

  p {
    padding-bottom: .5em;
    max-width: 970px;
    margin: 0 auto;
  }

  img {
    background: $black-color;
    border-radius: 50%;
    margin: 2em auto .5em;
    box-shadow: 0 -1em 55vw #7Bc586;
    max-width: 320px;
    width: 15%;
  }

  a img {
    width: 100%;
    margin: 1em auto .5em;
    box-shadow: 0 0 .5em $black-color;
  }

  .logo {
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      height: 1px;
      background: #99CA3E;
      width: 35%;
      margin: 5px 40px;
      box-shadow: 0 0 0.5em $black-color;
    }

    &:before {
      right: 50%;
    }

    &:after {
      left: 50%;
    }

    a {
      display: block;
      margin: 0 auto;
      max-width: 64px;
    }
  }

  ul {
    margin: 0;
    padding: 0 !important;
    padding-bottom: 1em !important;

    li {
      list-style-type: none;
    }

    .social li {
      display: inline-block;
      width: 33%;

      a {
        font-size: 1.75em;

        @media (min-width: 768px) {
          font-size: 1.5em;
        }

        @media (min-width: 1400px) {
          font-size: 1.75em;
        }
      }
    }
  }

  .row > div > ul {
    text-align: right;

    & + ul {
      padding-left: 1em !important;
    }

    @media (min-width: 768px) {
      text-align: left;
    }

    &:nth-child(2n + 1) {
      text-align: left;
      clear: left;
      padding-left: 0 !important;

      @media (min-width: 768px) {
        clear: none;
        padding-left: 1em !important;
      }
    }

    &:first-child {
      padding-left: 0 !important;
    }
  }

  li li {
    font-size: 1.25em;

    @media (min-width: 768px) {
      font-size: .9em;
    }

    @media (min-width: 1280px) {
      font-size: 1.25em;
    }
  }

  p {
    font-size: 1em;

    @media (min-width: 768px) {
      font-size: .75em;
    }

    @media (min-width: 1280px) {
      font-size: 1em;
    }
  }

  small {
    font-size: .6em;
  }

  .y {
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .x {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .x .row {
    overflow: hidden;
    height: 100%;
  }

  .x .row > div {
    position: relative;
    height: 25%;
    background: $secondary-blue-color;

    &:before, &:after {
      content: '';
      position: absolute;
      transform: rotate(-60deg);
      z-index: 1;
      width: 490%;
      height: 30vw;
      min-height: 100%;
      top: 0;
      right: -175%;
      margin-top: 20%;
      margin-right: 10%;
      box-shadow: -10px -5px 10px rgba(41, 41, 41, 0.35);
    }

    &:after {
      content: none;
    }

    &.a:before, &.a:after {
      background: $secondary-blue-color;
      right: -150%;
    }

    &.b:before, &.b:after {
      background: $secondary-green-color;
      right: -170%;
    }

    &.c:before, &.c:after {
      background: $primary-yellow-color;
      right: -185%;
    }

    &.d:before, &.d:after  {
      background: $secondary-red-color;
      right: -200%;
    }

    &.d:after  {
      content: '';
      background: $secondary-blue-color;
      right: -215%;
      top: 90%;

      @media (min-width: 768px) {
        right: -320%;
        top: 0;
      }
    }
  }
}
