footer {
  @extend .well;

  font-size: .85em;
  color: #333;
  margin: 0 auto;
  text-align: left;
  padding: 0;
  background: #efefef;
  border-radius: 0;

  > section {
    //max-width: 360px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2em;
  }

  a, p, div {
    display: block;
    margin: .5em 0;
  }

  a, div {
    float: left;
    clear: left;
    color: $secondary-blue-color;
  }

  .clear {
    clear: left;
    float: none;
  }

  i {
    margin-right: 4px;
    width: 1em;
    text-align: center;
  }

  h4 {
    padding: .75em 0;
    margin: 0;
    margin-bottom: .5em;
    border-bottom: solid 1px rgba(192, 192, 192, .5);
    color: #696969;
    font-family: $font-family-brand;
    font-size: 2em;
  }

  p {
    margin: 0;
    margin-top: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-top: solid 1px rgba(192, 192, 192, 1);
    text-align: left;
    color: $background-color;
    opacity: .5;
  }
}
