@-webkit-keyframes glow {
  from { transform: scale3d(1, 1, 1); box-shadow: 0 0 1.5em rgba(89, 159, 198, .25); }
  50% { transform: scale3d(1.15, 1.15, 1); box-shadow: 0 0 1.25em rgba(89, 159, 198, .5); }
  to { transform: scale3d(1, 1, 1); box-shadow: 0 0 1.5em rgba(89, 159, 198, .25); }
}

@-webkit-keyframes caret {
  from { top: 0; opacity: .25; }
  50% { top: 10px; opacity: 1; }
  to { top: 90%; opacity: .25; }
}

.header.container .slider .slider-frame .slider-list .slider-slide {
  min-height: 96vh !important;
}

.nav-open .header.container .slide .hero {
  filter: blur(10px);
}

.header.container {
  width: 100%;

  .slider {
    > div:last-of-type {
      display: none;
    }
  }
}

.slide {
  // display: table !important;
  display: block !important;

  &.animating {
    .preview, .flippers button {
      opacity: 0;
      transform: translate3d(-200vw, 0, 0);
    }
  }

  .hero {
    content: '';
    opacity: 0;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.current,
    &.previous {
      transition: opacity .75s;
    }

    &.current {
      opacity: .5 !important;
    }
  }

  .instruction {
    font-size: .9em;
  }

  .logo {
    margin: 0 auto;
    position: absolute !important;
    top: 0;
    width: auto;
    // padding: 3vh 0;
    z-index: 2;
  }

  .preview, .flippers button {
    transition: opacity 1s, transform .25s;
  }

  > div:last-of-type {
    // display: table-cell;
    // vertical-align: middle;
    position: absolute;
    width: 100%;
    bottom: 35%;
    transform: translate(0, 50%);

    @media only screen and (min-width: 769px) {
      bottom: 50%;
    }
  }

  button {
    font-family: $font-family-brand;
  }

  button.flip {
    z-index: 2;
    line-height: 2.5em;
    box-shadow: 1px 1px 2px #000;
    font-size: .85em;
    padding: 0 .75em;
    margin: .5em .5em 0 0;
    outline: none;
    border: none;
    background: $black-color;
    position: relative;
    color: $primary-yellow-color;
    border-radius: 0;

    &:hover {
      transition: none;
      background: $primary-yellow-color;
      color: $background-color;
    }

    &:before {
      position: absolute;
      white-space: nowrap;
      color: $humility;
      background: rgba(21, 21, 21, .75);
      border-radius: .25em;
      padding: 0 .5em;
      margin: -.75em .5em .5em;
      font-size: .95em;
      line-height: 1.5em;
      top: 50%;
      border: solid 1px rgba(21, 21, 21, 1);
    }

    &.left {
      &:before {
        content: 'back';
        right: 100%;
      }
    }

    &.right {
      // -webkit-animation-name: glow;
      // -webkit-animation-duration: 1.125s;
      // -webkit-animation-iteration-count: infinite;

      &:before {
        content: 'more';
        left: 100%;
      }
    }

    &[disabled] {
      color: $humility;
      background: $black-color;
      opacity: .20;
      -webkit-animation-name: none;
    }
  }

  .preview {
    color: #efefef;
    font-size: 1em;
    margin: 0 auto;
    width: 90%;
    max-width: 640px;
    text-align: center;
    padding: .5em 1em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 120%;
      background: linear-gradient(rgba(89, 159, 198, 1), rgba(21, 21, 21, 0));
      top: 0;
      left: 0;
      margin: 0;
      border-top: rgba(89, 159, 198, .6);
      box-shadow: 0 -5px 10px rgba(41, 41, 41, 0.25);
    }

    p, h3 {
      position: relative;
      z-index: 2;
    }

    h3 {
      text-transform: uppercase;
      font-family: $font-family-fjalla;
      color: #F7DE47;
      font-size: 3em;
      margin-top: 10px;
      // margin: 0 0 .5em;
      // display: inline-block;
      // position: relative;
      // z-index: 2;
      // background-color: rgba(41, 41, 41, .9);
      // width: 100%;
      // box-shadow: 0 0 5px rgba(21, 21, 21, .75) inset;
      // padding: 1px;
      // font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      // border-radius: 4px;
      // color: $humility;
      // font-size: .85em;
      // font-weight: 400;
      // text-transform: lowercase;

      // &:before {
      //   content: 'AIM:\\>';
      //   text-transform: none;
      //   font-size: .75em;
      //   font-weight: normal;
      //   line-height: 1.5em;
      //   padding: 5px 5px 4px;
      //   background: $black-color;
      //   border-radius: 3px;
      //   border-top-right-radius: 0;
      //   border-bottom-right-radius: 0;
      //   display: inline-block;
      //   margin-right: .5em;
      //   color: $secondary-green-color;
      // }
    }

    // ul {
    //   font-family: $font-family-brand;
    //   padding: 0 6px;

    //   &.columns {
    //     margin-top: .5em;

    //     li {
    //       display: inline-block;
    //       width: 50%;
    //       line-height: 1;
    //     }
    //   }

    //   &:before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 120%;
    //     background: linear-gradient(rgba(89, 159, 198, 1), rgba(21, 21, 21, 0));
    //     top: 0;
    //     left: 0;
    //     margin: 0;
    //     border-top: rgba(89, 159, 198, .6);
    //     box-shadow: 0 -5px 10px rgba(41, 41, 41, 0.25);
    //   }

    //   li {
    //     color: #efefef !important;
    //     text-align: left;
    //     display: block;
    //     position: relative;
    //     overflow: hidden;

    //     &.more {
    //       overflow: visible;
    //       width: 100%;
    //       margin-top: -.5em;

    //       &:before {
    //         margin: 15px 0 0 -14px;
    //         font-size: .65em;
    //         opacity: .75;
    //         content: '> Press \'more\' for ' attr(data-next) '.';
    //         font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    //         color: $secondary-green-color;
    //         padding: 5px 6px;
    //         background: $black-color;
    //         border-radius: 3px;
    //         border-top-left-radius: 0;
    //         border-bottom-left-radius: 0;
    //         box-shadow: 0 0 1px #000;
    //         display: inline-block;
    //       }
    //     }
    //   }
    // }
  }

  .scroll {
    width: 100%;
    text-align: center;

    span {
      display: block;
      font-size: 11px;
      margin-bottom: 20px;
      letter-spacing: 1;
    }

    button {
      border-radius: 50%;
      border: none;
      width: 50px;
      height: 50px;
      background: transparent;
      position: relative;
      outline: none;
      cursor: pointer;
      overflow: hidden;
      margin-top: 1em;
      opacity: .5;
    }

    button span {
      border-left: solid 2px #f8f8f8;
      border-bottom: solid 2px #f8f8f8;
      transform: rotate(-45deg);
      display: block;
      width: 1.25em;
      height: 1.25em;
      position: absolute;
      top: 0;
      left: 1.5em;
      -webkit-animation-name: caret;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
    }
  }
}
