// Import VitruvianTech variables
@import "./variables.scss";

// Extend from Core default components theme as a base
@import "../../../../@boilerplatejs/core/themes/default/components.scss";

// Override base theme with VitruvianTech theme
@import "./typography.scss";
@import "./components.scss";
@import "../../../tv/themes/default/components.scss";
