.home.page .logo  {
  @media (max-width: 991px) and (orientation: landscape) {
    display: none;
  }
}

.home.page .footer .logo {
  display: block;
}

.modal .logo, .page .logo {
  text-align: center;
  padding: 5.25em 0 15px;

  > img {
    width: 7.5em;
    position: relative;

    &.text {
      width: 7em;
    }
  }

  .text {
    opacity: .9;
    box-shadow: 0 0 0.25em #151515;
  }

  .graphic {
    border-radius: 50%;
    box-shadow: 0 0 0.5em #202020;
    margin: auto -5px;
    z-index: 1;
  }
}

.modal .logo {
  padding-top: 2.25em;
}

.footer .logo {
  padding: 0;
}

.page .logo > img.text {
  display: none;

  @media only screen and (min-width: 769px) {
    display: inline;
  }
}