.nav {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  top: 0;
  left: 0;
  z-index: 4;
}

nav .fa {
  font-size: inherit;
  line-height: inherit;
  margin-right: .5em;
  width: 1em;
  text-align: center;
}

nav .social {
  float: right;
  padding: 0 .35em;
  font-size: 1.5em;
  transition: all .35s;
  opacity: 1;

  #app.nav-open & {
    transform: translate3d(200%,0,0);
    opacity: 0;

    @media only screen and (min-width: 769px) {
      transform: none; 
      opacity: 1;
    }
  }

  a {
    display: inline-block;
    color: inherit;
    opacity: .85;
    margin: 0 .35em;
    color: $white-color;
    transition: opacity .35s;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  .fa {
    display: inline;
  }

  i {
    width: 20px;
    line-height: 40px;
    text-align: center;
    margin: 0;
  }
}

nav {
  //max-width: $page-max-width;
  max-width: 100%;
  margin: 0 auto;
  height: 40px;
  min-height: 20px;
  max-height: 100vh;
  opacity: .95;
  box-shadow: 0 0 .5em $background-color;
  background-color: $background-color;
  transition: background-color .25s;
}

nav marquee {
  margin-bottom: -1.125em;
}

nav ul {
  margin: 0;
  padding: 0;
  background: #efefef;
}

nav li {
  list-style-type: none;
  padding: 0 30px;
  line-height: 2.75em;
  position: relative;
  z-index: 2;
  font-size: 1.15em;
}

nav li a {
  display: block;
}

nav li a,
nav li a:hover,
nav li a:focus {
  text-decoration: none;
  color: #efefef;
}

nav > ul {
  transform: translate3d(-105%, 0, 0);
  transition: transform .35s;
  position: absolute;
  top: 40px;
  width: 70%;
  background: $background-color;
  height: 96vh;
  overflow: scroll;
  font-size: 1.25em;
  line-height: 1.25em;
  color: #efefef;
  margin-right: 2vw;
  box-shadow: 0 1px 2vw $black-color;
  background: $background-color url('/@vitruvian-tech/machete-bundle/images/nav.png') no-repeat;
  background-position: 45%;
  background-size: cover;
  padding-top: .75em;
  border-top: solid 1px $black-color;

  &:before {
    content: '';
    background: url(/@vitruvian-tech/machete-bundle/images/insignia.png) no-repeat;
    display: block;
    background-size: 100%;
    width: 42vmin;
    height: 42vmin;
    position: fixed;
    bottom: 2.25em;
    left: 0;
    opacity: .5;
    margin: 1em;
  }

  &:after {
    content: '\A9 2019 Vitruvian Technology, Corp. (subsidiary of Vitruvian Holdings, LLC.)';
    font-size: .6em;
    padding: 1.25em 1.75em;
    display: block;
    color: $humility;
    position: fixed;
    bottom: 1.75em;
    z-index: 1;
    max-width: 360px;

    @media only screen and (min-width: 500px) {
      font-size: .75em;
    }
  }
}

#app.nav-open nav {
  background-color: $black-color;
}

#app.nav-open nav > ul {
  transform: translate3d(0, 0, 0);
  margin-right: 0;
}

nav > ul > li {
  font-family: $font-family-oswald;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: -1px 1px 1px $black-color;

  a {
    color: inherit;
  }

  li {
    font-family: $font-family-brand;
    text-transform: none;
    letter-spacing: 0;
    line-height: 3em;
  }
}

nav li.subnav:before {
  content: '';
  position: absolute;
  right: 30px;
  width: 10px;
  height: 10px;
  top: 15px;
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  transform: rotate(45deg);
  transition: all .35s;
}

nav li.subnav.active:before {
  transform: rotate(225deg);
  top: 20px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

nav li:hover,
nav li:active,
nav li:focus,
nav li.active {
  background: $secondary-green-color;
  color: #fff;
}

nav li li:hover,
nav li li:active,
nav li li.active,
nav li li:focus,
nav li li:hover > a,
nav li li:active > a,
nav li li:focus > a,
nav li li.active > a {
  color: #efefef;
}

nav > ul > li > ul {
  background: $black-color;
  margin: 0 -30px;
  height: 0;
  pointer-events: none
}

nav > ul > li.active > ul {
  height: auto;
  border-bottom: solid 1px #000;
  border-top: solid 1px #000;
  pointer-events: auto;
}

nav > ul > li.active > ul > li {
  opacity: 1;
  transition: opacity .35s;
}

nav > ul > li > ul > li,
nav > ul > li > ul > li a {
  color: #efefef;
}

nav > ul > li > ul > li {
  opacity: 0;
  font-size: .9em;
  line-height: 3em;
  border-bottom: solid 1px #292929;

  &:last-child {
    border-bottom: none;
  }
}

nav > a.logo {
  background: url(/@vitruvian-tech/machete-bundle/images/logo.png) no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin: 10px 15px;
  transition: opacity .35s;
  opacity: 0;
  transform: scale3d(1.25, 1.25, 1);
}

#app.nav-open nav > a.logo {
  opacity: 1;
}

nav > a.toggle {
  position: absolute;
  background: url(/@vitruvian-tech/machete-bundle/images/nav-open.svg) no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100%;
  top: 0;
  left: 0;
  transition: left .35s;
  transform: scale3d(1.25, 1.25, 1);
}

#app.nav-open nav > a.toggle {
  background-image: url(/@vitruvian-tech/machete-bundle/images/nav-close.svg);
  left: 100%;
  margin-left: -40px;
}

@media only screen and (min-width: 769px) {
  nav {
    padding: 0;
    max-height: 40px;
    white-space: nowrap;
  }

  // #app.nav-open nav {
  //   background-color: $background-color;
  // }

  nav > a.toggle,
  nav .fa {
    display: none;
  }

  nav > a.logo {
    width: 20px;
    height: 30px;
    margin: 0 10px;
    margin-right: 12px;
    opacity: .85;
    transition: opacity .35s;
  }

  nav > a.logo:hover {
    opacity: 1;
  }

  nav > ul {
    font-size: 1em;
    display: inline-block;
    position: static;
    background: transparent;
    height: auto;
    width: auto;
    color: #efefef;
    line-height: 40px;
    overflow: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: none;
    margin-top: 0;
    margin-right: 0;
    box-shadow: none;
    padding-top: 0;
    border-top: none;
  }

  nav > ul:after,
  nav > ul:before {
    content: none;
  }

  nav li {
    cursor: pointer;
    padding: 0;
    font-size: 1em;
  }

  nav li a {
    padding: 0 12px;
    color: $black-color;
  }

  nav li:hover,
  nav li.active {
    color: $background-color;
  }

  nav li.subnav:before {
    right: -2px;
    width: 6px;
    height: 6px;
    top: 15px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    opacity: 1;
  }

  nav li.active.subnav:before {
    opacity: 0;
  }

  nav > ul > li {
    display: block;
    position: relative;
    float: left;
    line-height: inherit;
    margin: 0 .35em;
    background: transparent;
    letter-spacing: 0;
    text-shadow: none;
  }

  nav > ul > li:first-child,
  nav > ul > li:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  nav > ul > li > a:focus {
    color: inherit;
  }

  nav > ul > li.active {
    background: #efefef;
    color: $black-color;
  }

  nav > ul > li.active > ul {
    visibility: visible;
    opacity: 1;
  }

  nav > ul > li > ul {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity .35s;
    top: 100%;
    left: 0;
    white-space: nowrap;
    margin: 0;
    display: block;
    border-bottom: none;
    border-top: none;
    background: #efefef;
    color: $black-color;
    //min-width: 100%;
    min-width: 14em;
  }

  nav > ul > li.active > ul {
    border-bottom: none;
    border-top: none;
  }

  nav > ul > li > ul li {
    line-height: 48px;
    display: block;
    border-bottom: solid 1px $humility;
    font-size: 1em;
  }

  nav > ul > li > ul > li,
  nav > ul > li > ul > li a {
    color: $black-color;
  }

  nav li:hover,
  nav li:hover a {
    background: inherit;
    color: inherit;
  }

  nav > ul > li,
  nav > ul > li > ul > li a{
    opacity: .85;
    transition: opacity .35s;
  }

  nav > ul > li:hover {
    opacity: 1;
  }

  nav > ul > li:after,
  nav li li:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: $secondary-green-color;
    transition: width .35s;
  }

  nav > ul > li:hover:after,
  nav li li:hover:after {
    width: 100%;
  }

  nav > ul > li:active,
  nav > ul > li.active,
  nav > ul > li:focus {
    opacity: 1;

    &:after {
      width: 0;
    }
  }

  nav > ul > li.active {
    box-shadow: 2px 0 8px #000;
  }

  nav li li:after {
    background: $secondary-green-color;
  }

  nav li li:active,
  nav li li.active,
  nav li li:focus {
    &:after {
      width: 0;
    }
  }

  nav li li:hover,
  nav li li:active,
  nav li li.active,
  nav li li:focus,
  nav li li:hover > a,
  nav li li:active > a,
  nav li li:focus > a,
  nav li li.active > a {
    color: $black-color;
    background: #fff;
    opacity: 1;
  }
}

body.nav-open {
  background: $background-color;
}

body.nav-open,
#app.nav-open{
  overflow: hidden;
}

#app .nav + .page {
  position: relative;
  z-index: 1;
  transition: transform .35s;
  //margin: 64px auto 0;
  //min-height: 92vh;
}

#app .nav + .page:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity .35s;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  background: #7Bc586;
}

#app.nav-open .nav + .page {
  -webkit-transform: translate3d(70%, 0, 0);
  transform: translate3d(70%, 0, 0);
}

#app.nav-open .nav + .page:before {
  opacity: .5;
  pointer-events: auto;
}

@media only screen and (min-width: 769px) {
  body.nav-open {
    background: $black-color;
  }

  #app.nav-open .nav + .page {
    -webkit-transform: none;
    transform: none;
  }

  #app .nav + .page:before {
    transition: opacity .35s;
    background: $black-color;
  }
}

.nav .progress-loader {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 100%;
}