//nav :global(.fa) {
//  font-size: 2em;
//  line-height: 20px;
//}
//
//nav {
//  width: 100%;
//  opacity: .95;
//  box-shadow: 0 0 .5em #292929;
//}
//
//.navbar {
//  min-height: 40px;
//}
//
//.navbar > .container .navbar-brand {
//  position: absolute;
//  left: 0;
//  height: 40px;
//  padding: 0 20px;
//  margin: 0;
//  > header {
//    position: absolute;
//    color: #fba919;
//    left: 42px;
//    top: 0;
//    line-height: 40px;
//    display: inline-block;
//    min-width: 89vw;
//    font-family: $font-family-brand;
//    visibility: hidden;
//  }
//}
//
//@media (min-width: 768px) {
//  .navbar > .container .navbar-brand > header {
//    display: none;
//  }
//}
//
//.navbar-default .navbar-nav > li > a:hover {
//  color: #c0c0c0;
//}
//
//.navbar-default .navbar-nav > li > a:focus {
//  color: #fba919;
//}
//
//.navbar-default .navbar-nav > .active > a,
//.navbar-default .navbar-nav > .active > a:hover,
//.navbar-default .navbar-nav > .active > a:focus {
//  color: #fba919;
//  background-color: transparent;
//}
//
//.navbar-default {
//  background: $background-color;
//  border: none;
//  .navbar-toggle {
//    position: absolute;
//    margin: 0;
//    top: 3px;
//    right: 3px;
//    border-color: transparent;
//    border-radius: 0;
//    visibility: hidden;
//    &:hover, &:focus {
//      background-color: #151515;
//    }
//    .icon-bar {
//      background-color: #c0c0c0;
//    }
//  }
//  .navbar-text {
//    line-height: 40px;
//    margin: 0;
//    text-align: right;
//  }
//}
//
//.navbar-collapse {
//  border: none;
//  //visibility: hidden;
//  .navbar-nav {
//    margin: 40px -35px 0;
//    padding: 0 1em;
//    text-align: right;
//  }
//}
//
//@media (min-width: 768px) {
//  .navbar-nav > li > a {
//    padding-top: 10px;
//    padding-bottom: 10px;
//  }
//  .navbar-collapse {
//    .navbar-nav {
//      margin: 0;
//    }
//  }
//}

.nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 4;
}

nav {
  max-width: 970px;
  margin: 0 auto;
  padding: 20px 0;
  min-height: 20px;
  max-height: 100vh;
  opacity: .95;
  box-shadow: 0 0 .5em #292929;
  background: #292929;
}

nav ul {
  margin: 0;
  padding: 0;
  background: #fff;
}

nav li {
  list-style-type: none;
  padding: 0 24px;
  line-height: 48px;
  position: relative;
}

nav li a {
  text-decoration: none;
  display: block;
}

#app.no-js nav > ul {
  right: 100%;
}

nav > ul {
  //-webkit-transform: translate(-100%, 0);
  //transform: translate(-100%, 0);
  //transition: transform .5s;
  position: absolute;
  top: 64px;
  width: 80%;
  right: 100%;
  transition: right .5s;
  background: #fff;
  height: 91.5vh;
  overflow: scroll;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  margin-top: 2px;
}

#app.nav-open nav > ul {
  //-webkit-transform: translate(0, 0);
  //transform: translate(0, 0);
  right: 20%;
}

nav > ul > li a {
  color: inherit;
}

nav li.subnav:before {
  content: '';
  position: absolute;
  right: 24px;
  width: 12px;
  height: 12px;
  top: 12px;
  border-right: 4px solid #ec008c;
  border-bottom: 4px solid #ec008c;
  transform: rotate(45deg);
  transition: all .5s;
}

nav li.subnav.active:before {
  transform: rotate(225deg);
  top: 18px;
}

nav li:hover,
nav li:active,
nav li:focus {
  background: #eee;
}

nav li li:hover,
nav li li:active,
nav li li:focus,
nav li li:hover > a,
nav li li:active>  a,
nav li li:focus > a {
  color: #ec008c;
}

nav > ul > li > ul {
  background: #fff;
  margin: 0 -24px;
  display: none;
}

nav > ul > li.active > ul {
  display: block;
}

nav > ul > li > ul > li,
nav > ul > li > ul > li a {
  color: #000;
}

nav > ul > li > ul > li {
  font-family: Galaxie, sans-serif;
  font-size: 18px;
}

nav > ul > li:first-child {
  margin-top: 12px;
}

nav > ul > li:last-child {
  margin-bottom: 12px;
}

nav > a.logo {
  background: url(/assets/images/logo.png) no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 32px;
  height: 20px;
  margin: 0 24px;
  transition: opacity .5s;
  opacity: 0;
}

#app.nav-open nav > a.logo {
  opacity: 1;
}

nav > a.toggle {
  position: absolute;
  background: url(/assets/images/nav-open.svg) no-repeat;
  width: 60px;
  height: 60px;
  background-size: 100%;
  top: 0;
  left: 0;
  transition: left .5s;
}

#app.nav-open nav > a.toggle {
  background-image: url(/assets/images/nav-close.svg);
  left: 100%;
  margin-left: -60px;
}

@media only screen and (min-width: 769px) {
  nav {
    padding: 0;
    max-height: 72px;
    white-space: nowrap;
  }

  nav > a.toggle {
    display: none;
  }

  nav > a.logo {
    width: 60px;
    height: 24px;
    margin: 24px;
    transition: none;
    opacity: 1;
  }

  nav > ul {
    font-size: 24px;
    display: inline-block;
    position: static;
    background: transparent;
    height: auto;
    width: auto;
    color: #fff;
    line-height: 72px;
    overflow: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: none;
    margin-left: 24px;
    margin-top: 0;
  }

  nav > ul:after {
    content: none;
  }

  nav li {
    cursor: pointer;
    padding: 0;
  }

  nav li a {
    padding: 0 24px;
  }

  nav li:hover,
  nav li.active {
    color: #ec008c;
  }

  nav li.subnav:before {
    content: none;
  }

  nav > ul > li {
    display: block;
    position: relative;
    float: left;
    line-height: inherit;
  }

  nav > ul > li:first-child,
  nav > ul > li:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  nav > ul > li.active {
    background: #fff;
  }

  nav > ul > li.active > ul {
    visibility: visible;
    opacity: 1;
  }

  nav > ul > li > ul {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
    top: 100%;
    left: 0;
    min-width: 100%;
    white-space: nowrap;
    margin: 0;
    display: block;
  }

  nav > ul > li > ul li {
    line-height: 48px;
    display: block;
  }

  nav > ul > li > ul li:first-child {
    margin-top: 12px;
  }

  nav > ul > li > ul li:last-child {
    margin-bottom: 12px;
  }
}

body.nav-open,
#app.nav-open{
  overflow: hidden;
}

#app > div > .page {
  position: relative;
  z-index: 1;
  transition: transform .5s;
  //margin: 64px auto 0;
  //min-height: 92vh;
}

#app > div > .page:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: opacity .5s;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  background: rgba(0,0,0,.5);
  //margin-top: -64px;
}

#app.nav-open > div > .page {
  -webkit-transform: translate(80%, 0);
  transform: translate(80%, 0);
}

#app.nav-open > div > .page:before {
  opacity: 1;
  pointer-events: auto;
}

@media only screen and (min-width: 769px) {
  #app > div > .page {
    //margin-top: 72px;
  }

  #app > div > .page:before {
    //margin-top: 0;
  }

  #app.nav-open > div > .page {
    -webkit-transform: none;
    transform: none;
  }
}