::selection {
  background: $primary-green-color;
  color: $white-color;
}
::-moz-selection {
  background: $primary-green-color;
  color: $white-color;
}

.page {
  max-width: 100%;
  background: $black-color;
}
