.page {
  max-width: 100%;
  background: $black-color;

  #app.no-js & {
    overflow: hidden;
  }
}

section.quote {
  background: $white-color;

  .home.page & {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px $black-color;
    max-width: 290px;
    margin: 0 auto;

    @media (min-width: 992px) {
      max-width: 300px;
    }
  }

  > div {
    font-size: .9em;
    margin: 0 auto !important;
    max-width: 270px;
    padding: 2em 0 1.5em;

    p {
      margin: 1.5em auto 3em !important;
      text-align: center;
      font-size: .9em !important;
    }

    h3 {
      text-align: center;
      text-shadow: 0 2px 1px $humility;
      font-size: 2em !important;
      font-family: $font-family-oswald;
      margin: .25em auto;
      text-transform: uppercase;
    }

    .error,
    .success {
      font-size: .85em;
      font-weight: normal;
      background: #efefef;
      padding: 10px 15px;
      border-radius: 3px;
      margin-bottom: 10px;
    }

    .error {
      color: $primary-red-color;
      margin-top: 20px;
    }

    .success {
      color: $secondary-green-color;
      text-align: center;
      margin-top: -20px;
    }

    form {
      .firstName,
      .lastName {
        width: 50%;
        float: left;
      }

      .firstName {
        padding-right: 10px;
      }

      .lastName {
        padding-left: 10px;
      }

      .email {
        clear: left;
      }

      .submit {
        text-align: center;
      }

      .form-group {
        margin: 0 0 20px !important;

        &:last-child {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}

section.solutions {
  // background: $background-color linear-gradient(rgba(89, 159, 198, .45), rgba(21, 21, 41, 1));
  position: relative;
  z-index: 2;
  padding: 10px 15px;
  height: auto!important;
  max-width: 360px;
  margin: auto;

  h3 {
    font-family: $font-family-oswald;
    text-transform: uppercase;
    color: $white-color;
    text-align: center;
    margin: .25em auto .75em;
    text-shadow: 0 2px 1px $black-color;
    font-size: 2em;
  }

  .solution {
    margin: .5em 0;
    width: 100%;
  }

  @media (min-width: 992px) {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background: none;
    pointer-events: none;
    transform: none!important;
    height: 0!important;
    max-width: 100%;

    h3 {
      display: none;
    }

    > div {
      vertical-align: middle;
      position: absolute;
      pointer-events: auto;
      bottom: 40px;
      margin: 15px;

      &.left {
        left: 0;

        .solution.active {
          margin-left: 2em;
        }
      }

      &.right {
        right: 0;

        .solution.active {
          margin-left: 1em;
        }
      }
    }

    .solution {
      margin: 1.5em;
      max-width: 20vw;
      font-size: .9em;
      position: relative;

      @media (min-width: 1200px) {
        font-size: 1em;
      }

      @media (min-width: 1400px) {
        font-size: 1.1em;
      }

      @media (min-width: 1600px) {
        max-width: 15vw;
      }
    }
  }
}

.home.page .section.container .section,
.section.container .error.section {
  h2, h3, h4 {
    margin: 0 auto !important;
    min-width: 320px;
    max-width: 992px;
    text-shadow: 1px 1px 3px #151515;
    color: #f8f8f8;
    padding: 1em 30px;
    line-height: 1;
  }

  h2 {
    font-size: 2em !important;
    padding-bottom: 0;
  }

  h3 {
    color: #FCD700;
    display: block;
    font-size: 3.5em;
    margin-top: .25em;
    padding-top: .25em;
  }

  .card {
    margin-top: 15px;

    img {
      display: block;
      width: 80%;
      padding: 15px;
    }

    > div, p {
      padding: 15px;
    }

    p, img {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      // background: #f8f8f8;
      // box-shadow: 0 0 10px $black-color;
      // text-shadow: 1px 1px 3px #e0e0e0;
      border-radius: 2px;
      text-shadow: 1px 1px 3px #151515;
      color: #fff;
      font-size: 1.25em;
      font-family: $font-family-sans-serif;
    }

    img + p,
    p + h4 {
      margin-top: 1.25em !important;
    }

    h4 {
      color: #FCD700;
      text-align: center;
      font-size: 3.5em !important;
      color: #efefef;
      font-family: $font-family-oswald;
      text-transform: uppercase;
      margin: 0 -15px !important;
      padding: .5em;
      margin-top: 2em !important;
    }

    > div {
      margin-top: 30px;
    }

    .solution {
      width: 260px;
      margin: 0 auto;
    }

    a.link {
      text-decoration: none;
    }
  }
}

.home.page .section.container .section {
  height: auto;
}

.section.container .error.section {
  background: $background-color;
  min-height: $page-height!important;
  max-width: none;

  @media (min-height: 768px) {
    min-height: $page-height-xl!important;
  }
}

.home.page .section.container .section-0 .section > div > div {
  & > h2, & > h3 {
    text-align: left !important;
  }
}