::selection {
  background: $primary-green-color;
  color: $white-color;
}
::-moz-selection {
  background: $primary-green-color;
  color: $white-color;
}

.page {
  max-width: 100%;
  background: $black-color;
}

section.quote {
  background: $white-color;

  > div {
    margin: 0 auto !important;
    max-width: 360px;
    padding: 2em 15px 1.5em;

    p {
      margin: 1.5em auto 3em !important;
      text-align: center;
      font-size: .9em !important;
    }

    h3 {
      text-align: center;
      text-shadow: 0 2px 1px $humility;
      font-size: 2em !important;
      font-family: $font-family-oswald;
      margin: .25em auto;
      text-transform: uppercase;
    }

    .error,
    .success {
      font-size: .85em;
      font-weight: normal;
      background: #efefef;
      padding: 10px 15px;
      border-radius: 3px;
      margin-bottom: 10px;
    }

    .error {
      color: $primary-red-color;
      margin-top: 20px;
    }

    .success {
      color: $secondary-green-color;
      text-align: center;
      margin-top: -20px;
    }

    form {
      .firstName,
      .lastName {
        width: 50%;
        float: left;
      }

      .firstName {
        padding-right: 10px;
      }

      .lastName {
        padding-left: 10px;
      }

      .email {
        clear: left;
      }

      .submit {
        text-align: center;
      }

      .form-group {
        margin: 0 0 20px !important;

        &:last-child {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}

section.solutions {
  background: $background-color linear-gradient(rgba(89, 159, 198, .45), rgba(21, 21, 41, 1));
  position: relative;
  z-index: 2;
  padding: 10px 15px;

  h3 {
    font-family: $font-family-oswald;
    text-transform: uppercase;
    color: $white-color;
    text-align: center;
    margin: .25em auto .75em;
    text-shadow: 0 2px 1px $black-color;
    font-size: 2em;
  }

  .solution {
    margin: .5em 0;
    width: 100%;
  }

  @media (min-width: 769px) {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background: none;
    pointer-events: none;

    h3 {
      display: none;
    }

    > div {
      vertical-align: middle;
      position: absolute;
      pointer-events: auto;
      bottom: 65px;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .solution {
      margin: 1.5em;
      max-width: 25vw;
      font-size: .9em;
      position: relative;

      @media (min-width: 1200px) {
        font-size: 1em;
      }

      @media (min-width: 1400px) {
        font-size: 1.1em;
      }

      @media (min-width: 1600px) {
        max-width: 20vw;
      }
    }
  }
}
