::selection {
  background: $primary-green-color;
  color: $white-color;
}
::-moz-selection {
  background: $primary-green-color;
  color: $white-color;
}

.page {
  max-width: 100%;
  background: $black-color;
}

section.quote {
  background: $white-color;

  > div {
    margin: 0 auto !important;
    max-width: 360px;
    padding: 2em 15px 1.5em;

    p {
      margin: 1.5em auto 3em !important;
      text-align: center;
      font-size: .9em !important;
    }

    h3 {
      text-align: center;
      text-shadow: 0 2px 1px $humility;
      font-size: 2em !important;
      font-family: $font-family-oswald;
      margin: .25em auto;
      text-transform: uppercase;
    }

    .newsletter {
      input {
        display: inline-block;
        float: left;
      }

      span {
        font-size: .9em;
        float: left;
      }
    }

    .error,
    .success {
      font-size: .85em;
      font-weight: normal;
      background: #efefef;
      padding: 10px 15px;
      border-radius: 3px;
      margin-bottom: 10px;
    }

    .error {
      color: $primary-red-color;
      margin-top: 20px;
    }

    .success {
      color: $secondary-green-color;
      text-align: center;
      margin-top: -20px;
    }

    form {
      .firstName,
      .lastName {
        width: 50%;
        float: left;
      }

      .firstName {
        padding-right: 10px;
      }

      .lastName {
        padding-left: 10px;
      }

      .email {
        clear: left;
      }

      .submit {
        text-align: center;
      }

      .form-group {
        margin: 0 0 20px !important;

        &:last-child {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}

.home.page {
  .section.container {
    background: linear-gradient(rgba(21, 21, 21, 0), rgba(89, 159, 198, .5));
  }
}
