.post {
  h1, h2, h3 {
    text-align: center;
  }

  h1 {
    font-family: $font-family-oswald !important;
    text-transform: uppercase;
    font-size: 3.25em !important;
    font-weight: 600;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 400 !important;
  }

  h3 {
    font-size: 2em !important;
  }

  a {
    border-bottom: solid 1px $primary-green-color;
    text-decoration: none;
    color: $primary-green-color;
    transition: all 150ms;

    &:hover {
      border-bottom: solid 1px $black-color;
      background: $primary-green-color;
      color: $black-color;
    }
  }

  .summary {
    color: $humility !important;
    text-align: center;
    max-width: 640px;
    margin: 0 auto !important;
  }

  .share {
    margin: 3em auto 1.5em;
    text-align: center;

    > div {
      display: inline-block;
      outline: none;

      + div {
        margin-left: 1em;
      }

      img {
        width: 2.75em;
      }
    }
  }

  article {
    > div {
      margin: 1.5em auto !important;
      padding: 0 5px;
      max-width: 970px;

      + .heading {
        margin-top: 3em !important;
      }
    }

    .type {
      font-family: $font-family-oswald;
      font-size: 1.75em !important;
      padding: .25em 0;
      text-transform: uppercase;
    }

    .credit {
      font-size: .9em;
      font-weight: bold;
      display: inline-block;
      padding: .25em .5em;
      background: $primary-green-color;
      font-style: italic;

      &:before {
        content: 'Media by ';
        font-weight: normal;
      }
    }

    .caption {
      font-family: $font-family-oswald !important;
      font-size: 1.25em !important;
      margin-top: .25em !important;
      //background: $black-color;
      //box-shadow: 0 1px 2px $background-color;

      span {
        background: cyan;
        line-height: 1.75;
      }
    }

    .paragraph {
      p {
        text-indent: 2em;
      }

      + .paragraph p {
        text-indent: 0;
      }
    }

    .media + .paragraph,
    .media + .quote,
    .paragraph + .media,
    .paragraph + .quote,
    .quote + .media,
    .quote + .paragraph,
    .video + .image,
    .image + .video {
      margin-top: 3em !important;
    }

    .media, .quote {
      max-width: 640px;
    }

    .image img, .video-js {
      width: 100%;
      height: 50vh;
      margin: 0 auto;
      box-shadow: 0 1px 2px $background-color;
      border: solid .125em $black-color;
      border-collapse: collapse;
    }

    .image img {
      height: auto;
      position: relative;
    }

    .video-js {
      background: $background-color;

      .vjs-big-play-button {
        top: 50%;
        left: 50%;
        margin-left: -1.5em;
        margin-top: -.75em;
      }
    }

    .quote blockquote {
      margin: 0;
      font-size: 1em;
      border-left: none;
      padding: .5em 30px;

      &:after {
        content: "―" attr(data-credit);
        display: block;
        font-style: italic;
        font-family: $font-family-brand;
        font-size: 1.5em;
        margin-top: 1em;
      }

      p {
        font-size: 1.35em;
        display: inline-block;

        span {
          background: cyan;
          position: relative;

          &:before, &:after {
            font-size: 3em;
            position: absolute;
          }
        }

        &:first-child span:before {
          content: '“';
          right: 100%;
          margin-top: -25px;
          margin-right: 5px;
        }

        &:last-child span:after {
          content: '”';
          left: 100%;
          margin-top: -8px;
          margin-left: 5px;
        }
      }
    }
  }
}
