@-webkit-keyframes glow {
  from { transform: scale3d(1, 1, 1); box-shadow: 0 0 1.5em rgba(89, 159, 198, .25); }
  50% { transform: scale3d(1.125, 1.125, 1); box-shadow: 0 0 1.25em rgba(89, 159, 198, .5); }
  to { transform: scale3d(1, 1, 1); box-shadow: 0 0 1.5em rgba(89, 159, 198, .25); }
}

.section.container {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px $black-color;
  min-height: $page-height!important;
  padding: 0;
  background: $background-color linear-gradient(rgba(89, 159, 198, .45), $background-color);

  @media (min-height: 768px) {
    min-height: $page-height-xl!important;
  }

  #app.no-js & {
    overflow: hidden;
  }

  #app.no-js &:before {
    display: table;
    content: ' ';
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #f8f8f8 url(/@fox-zero/web/images/loading.gif) center no-repeat;
  }

  .post.page & {
    padding: 0;

    .section {
      padding: 0 15px;
      box-shadow: 0px 0 30px $background-color;

      &:first-child {
        &:before {
          content: '';
          position: absolute;
          box-shadow: 0px 0 30px $background-color;
          width: 100%;
          height: 10px;
          top: -10px;
          left: 0;
        }
      }
    }
  }

  .home.page & {
    .section {
      background: transparent;
      max-width: 640px;

      // > div > div {
      //   position: relative;
      //   margin-left: -15px;
      //   margin-right: -15px;

      //   > .content > section .highlight {
      //     font-family: $font-family-oswald;
      //     text-transform: uppercase;
      //     font-size: 2.75em;
      //     text-align: center;

      //     span {
      //       background: $primary-green-color;
      //       display: inline-block;
      //       padding: 0 15px;
      //     }

      //     &.cloud {
      //       text-align: center;

      //       span {
      //         margin: 5px;
      //       }
      //     }

      //     &.tag {
      //       font-size: 2em;

      //       span {
      //         font-family: 'Nike Combat Stencil', $font-family-oswald;
      //       }
      //     }
      //   }

      //   > .content > section > aside {
      //     position: relative;
      //     z-index: 3;
      //     padding: 15px 0;

      //     @media (min-width: 1200px) {
      //       padding: 0;
      //       position: absolute;
      //       width: 100%;
      //       bottom: 25px;
      //     }

      //     > div {
      //       @media (min-width: 1200px) {
      //         position: absolute;
      //         margin: -10px 15px;
      //       }

      //       + div {
      //         padding-top: 5px;
      //       }
      //     }
      //   }

      //   @media (min-width: 1200px) {
      //     min-height: $page-height !important;

      //     h1 {
      //       padding-bottom: 0;
      //     }
      //   }

      //   @media (min-height: 900px) {
      //     min-height: $page-height-xl!important;
      //   }

      //   h1, > .content > section > .row {
      //     position: relative;
      //     z-index: 4;
      //   }

      //   > .toggle {
      //     position: relative;
      //     z-index: 5;

      //     @media (min-width: 1200px) {
      //       position: absolute;
      //       bottom: 0;
      //       width: 100%;
      //     }

      //     > div {
      //       padding: 15px;

      //       button {
      //         margin: 0 auto;
      //         display: block;
      //         line-height: 2.5em;
      //         box-shadow: 1px 1px 2px #000;
      //         font-size: 1.125em;
      //         padding: 0 1em;
      //         outline: none;
      //         border: none;
      //         background: #151515;
      //         color: #FBAA19;
      //         border-radius: 0;
      //         text-transform: uppercase;
      //         font-family: $font-family-oswald;
      //         letter-spacing: 1px;
      //         -webkit-animation-name: glow;
      //         -webkit-animation-duration: 1.125s;
      //         -webkit-animation-iteration-count: infinite;
      //       }
      //     }
      //   }

      //   > .background {
      //     &, > div {
      //       position: absolute;
      //       background-repeat: no-repeat;
      //       width: 100%;
      //       height: 100%;
      //       top: 0;
      //       left: 0;
      //     }

      //     .film {
      //       background: #f8f8f8;
      //       opacity: .85;
      //       z-index: 3;
      //     }

      //     .image {
      //       z-index: 1;
      //       background-size: cover;
      //       background-position: 50%;
      //       box-shadow: 0px 0 30px $background-color;

      //       &.insignia {
      //         background-position: 50% -4%;
      //         background-size: 150%;

      //         @media (min-width: 768px) {
      //           background-size: 120%;
      //           background-position: 50% -45%;
      //         }

      //         @media (min-width: 1200px) {
      //           background-size: 75%;
      //           background-position: 50% 48%;
      //         }
      //       }
      //     }
      //   }

      //   > .content > section > .row {
      //     display: table;
      //     margin: 0 auto;
      //     max-width: 640px;
      //     transition: opacity 1s;

      //     @media (min-width: 1200px) {
      //       max-width: 100%;
      //     }

      //     > [class*="col-lg"] {
      //       padding: 15px;

      //       &.valign-middle {
      //         vertical-align: middle;
      //       }

      //       @media (min-width: 414px) {
      //         padding: 30px;
      //       }

      //       @media (min-width: 1200px) {
      //         float: none;
      //         display: table-cell;
      //         vertical-align: top;

      //         &:last-child {
      //           ul {
      //             float: right;
      //             text-align: right;
      //           }
      //         }
      //       }
      //     }
      //   }
      // }

      // &.animating > div > div > .content > section > .row {
      //   opacity: 0;
      // }
    }
  }

  .section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;

      @media (min-width: 1200px) {
        text-align: left;
      }

      li {
        list-style-type: none;
      }
    }

    h2, h3, h4 {
      font-weight: 600;
    }

    h1 {
      font-family: 'Nike Combat Stencil', $font-family-oswald;
      text-align: center;
      padding: .5em;
      font-size: 3.25em;
      color: $black-color;
    }

    h2 {
      font-family: $font-family-oswald;
      color: $background-color;
      text-transform: uppercase;
      font-size: 2.5em;
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: .75em;
    }

    h3 {
      margin: 0;
      font-size: 3.25em;
      font-family: $font-family-oswald;
      text-transform: uppercase;
      line-height: 1.5;
    }

    strong {
      font-weight: 900;
    }

    blockquote {
      margin: 0;
      font-size: 1em;
      border-left: none;
      padding: .5em 30px;

      &:after {
        content: "―" attr(data-credit);
        display: block;
        font-style: italic;
        font-family: $font-family-brand;
        font-size: 1.5em;
        margin-top: 1em;
      }

      strong {
        font-size: 1.5em;
        line-height: .5;
      }

      p {
        font-size: 1.35em;
        display: inline-block;

        span {
          background: cyan;
          position: relative;

          &:before, &:after {
            font-size: 3em;
            position: absolute;
          }
        }

        &:first-child span:before {
          content: '“';
          right: 100%;
          margin-top: -25px;
          margin-right: 5px;
        }

        &:last-child span:after {
          content: '”';
          left: 100%;
          margin-top: -8px;
          margin-left: 5px;
        }
      }
    }

    p {
      font-family: $font-family-brand;
      font-size: 1.25em;
      color: $black-color;
      margin: 0;

      &.humility {
        color: $humility;
      }

      & + p {
        margin-top: 1.25em;
      }
    }
  }
}
