.section.container {
  position: relative;
  z-index: 1;
  box-shadow: 0 -2px 20px rgba(41, 41, 41, 1);

  .home.page & {
    position: relative;
    padding-bottom: 10px;
    min-height: $page-height!important;
    //display: none;

    @media (min-height: 900px) {
      min-height: $page-height-xl!important;
    }
  }

  .section {
    max-width: 970px;
    margin: 0 auto;
    padding: 0;

    h1 {
      font-family: 'Nike Combat Stencil', $font-family-brand;
      text-align: center;
      padding: .5em 0;
      font-size: 3em;
      color: $black-color;
    }

    h2 {
      font-family: 'Oswald', $font-family-brand;
      color: $background-color;
      text-transform: uppercase;
      font-size: 3em;
      line-height: 1.25;
    }

    p {
      font-family: 'Oswald', $font-family-brand;
      font-weight: 300;
      letter-spacing: 1px;
      color: $black-color;
      font-size: 1.25em;

      &:last-child {
        padding-bottom: 30px;
      }
    }
  }
}
