h1, h2, h3 {
  font-family: $font-family-brand;
}

.color-primary-yellow {
  color: $primary-yellow-color;
}

.color-primary-green {
  color: $primary-green-color;
}

.color-secondary-green {
  color: $secondary-green-color;
}

.color-primary-blue {
  color: $primary-blue-color;
}

.color-secondary-blue {
  color: $secondary-blue-color;
}

.color-secondary-red {
  color: $secondary-red-color;
}

.humility {
  color: $humility;
}
